<h1>Events</h1>

Our blog has <%= Event.public_count %> events and counting!

<ul>
  <% @events.each do |event| %>
    <% unless event.archived? %>
        <li>
            <%= link_to event.title, event %>
        </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "New Event", new_event_path %>